<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Node API</title>
    {%- comment -%} <link rel="stylesheet" href="/styles.css"/> {%- endcomment -%}
    {%- comment -%} <script src="/app.js" defer></script> {%- endcomment -%}
</head>

<body>
    <header>
        {%- comment -%} <h1>University Node API</h1> {%- endcomment -%}
    </header>

    <main>{% block content %}My default content{% endblock %}</main>

    <footer></footer>
</body>

</html>